In [13]:
import os
import re
import numpy as np
import pandas as pd
import h5py as h5
import matplotlib.pyplot as plt

In [30]:
input_path = '/scratch/sdodl001/ENCODE/eval/GM12878/'
output_path = '/scratch/sdodl001/ENCODE/eval/GM12878/results_aggregated/'

In [3]:
folders = os.listdir(input_path)
folders.sort()

In [33]:
def regex_match(start_with, end_with, folder):
    m = re.search(start_with+end_with, folder)
    if m!=None:
        return True
    else:
        return False

In [9]:
### Aggregating results from single strand evaluation reports
df_ss = pd.DataFrame()
for folder in folders:
    if regex_match('^dna.', '*_ss_report$', folder):
        files = os.listdir(input_path+folder)
        for file in files:
            match = re.match('^report', file)
            if match!=None:
                #print('file: ', file)
                file_path = input_path+folder+'/'+file
                report_data = pd.read_csv(file_path, sep='\t')
                report_data = report_data.loc[:, ['value']]
                if len(report_data) == 7:
                    report_data = report_data.T
                    report_data.insert(loc=0, column='name', value=[folder])
                    report_data.reset_index(drop=True, inplace=True)
                    df_ss = pd.concat([df_ss, report_data])
                    
df_ss.columns = ['data_name', 'acc', 'auc', 'f1', 'mcc', 'n', 'tnr', 'tpr']
file_name = 'GM12878_ss_results_aggregated.csv'
df_ss.to_csv(output_path+file_name, index=False)
print('aggregared results are saved to :', output_path)
print('Done !')

aggregared results are saved to : /scratch/sdodl001/ENCODE/eval/GM12878/results_aggregated/
Done !

In [10]:
df_ss

,data_name,acc,auc,f1,mcc,n,tnr,tpr
0,dna_0.1_frac_ss_report,0.684566,0.764528,0.702841,0.379415,99150.082353,0.586404,0.788691
0,dna_0.2_frac_ss_report,0.644129,0.749755,0.692181,0.332409,99150.082353,0.465632,0.844662
0,dna_0.3_frac_ss_report,0.692095,0.777945,0.714316,0.399056,99150.082353,0.577406,0.813929
0,dna_0.4_frac_ss_report,0.704304,0.773316,0.681825,0.401310,99150.082353,0.728584,0.670825
0,dna_0.5_frac_ss_report,0.625505,0.767115,0.698596,0.327038,99150.082353,0.359129,0.916743
0,dna_0.6_frac_ss_report,0.703356,0.774759,0.703340,0.405159,99150.082353,0.662454,0.743599
0,dna_0.7_frac_ss_report,0.705627,0.774351,0.690314,0.405416,99150.082353,0.713530,0.693025
0,dna_0.8_frac_ss_report,0.696651,0.777862,0.711176,0.402895,99150.082353,0.610835,0.789724
0,dna_0.9_frac_ss_report,0.692611,0.772500,0.708179,0.393979,99150.082353,0.602199,0.788158
0,dna_GM12878_1_ss_report,0.700316,0.770462,0.664321,0.396076,99150.082353,0.767708,0.624749

In [11]:
### Aggregating results from double strand evaluation reports
df_ds = pd.DataFrame()
for folder in folders:
    if regex_match('^dna.', '*_ds_report$', folder):
        files = os.listdir(input_path+folder)
        for file in files:
            match = re.match('^report', file)
            if match!=None:
                #print('file: ', file)
                file_path = input_path+folder+'/'+file
                report_data = pd.read_csv(file_path, sep='\t')
                report_data = report_data.loc[:, ['value']]
                if len(report_data) == 7:
                    report_data = report_data.T
                    report_data.insert(loc=0, column='name', value=[folder])
                    report_data.reset_index(drop=True, inplace=True)
                    df_ds = pd.concat([df_ds, report_data])
                    
df_ds.columns = ['data_name', 'acc', 'auc', 'f1', 'mcc', 'n', 'tnr', 'tpr']
file_name = 'GM12878_ds_results_aggregated.csv'
df_ds.to_csv(output_path+file_name, index=False)
print('aggregared results are saved to :', output_path)
print('Done !')

aggregared results are saved to : /scratch/sdodl001/ENCODE/eval/GM12878/results_aggregated/
Done !

In [12]:
df_ds

,data_name,acc,auc,f1,mcc,n,tnr,tpr
0,dna_0.1_frac_ds_report,0.674798,0.758891,0.695047,0.366953,99672.887574,0.571678,0.791578
0,dna_0.2_frac_1_ds_report,0.705629,0.776573,0.690452,0.405509,99672.887574,0.709388,0.699358
0,dna_0.2_frac_2_ds_report,0.702719,0.771728,0.677101,0.397022,99672.887574,0.732736,0.664654
0,dna_0.2_frac_3_ds_report,0.700130,0.769443,0.666082,0.391911,99672.887574,0.752759,0.637453
0,dna_0.2_frac_4_ds_report,0.699037,0.769319,0.658645,0.390219,99672.887574,0.766922,0.619167
0,dna_0.2_frac_5_ds_report,0.692344,0.765143,0.693464,0.385557,99672.887574,0.646501,0.742107
0,dna_0.2_frac_ds_report,0.707104,0.778179,0.687408,0.408048,99672.887574,0.725380,0.685720
0,dna_0.3_frac_ds_report,0.677088,0.768887,0.704073,0.378496,99672.887574,0.549988,0.820430
0,dna_0.4_frac_ds_report,0.667955,0.766993,0.702131,0.368428,99672.887574,0.520956,0.835078
0,dna_0.5_frac_ds_report,0.658640,0.773762,0.706629,0.363510,99672.887574,0.456174,0.879036
0,dna_0.6_frac_ds_report,0.693844,0.778567,0.710883,0.398014,99672.887574,0.588149,0.804449
0,dna_0.7_frac_ds_report,0.633741,0.737586,0.471696,0.295010,99672.887574,0.899079,0.343716
0,dna_0.8_frac_ds_report,0.646869,0.768504,0.701215,0.349705,99672.887574,0.432695,0.884966
0,dna_0.9_frac_ds_report,0.699355,0.770656,0.692518,0.393729,99672.887574,0.670939,0.723019